<h1 style='text-align: center; border-radius: 25px; font-size:65px; margin:50px; background-color:rgb(143, 173, 182)'>Burgers!</h1>

<main>
    <loom-contianer>
        <div class="container-fluid" style="background-image:url('https://static.vecteezy.com/system/resources/previews/000/148/243/non_2x/cute-burger-and-fries-character-fast-food-vector.jpg'); filter:alpha(opacity=50); background-size:95% 95%; background-position:center;">
            <div class=" row ">
                <div class="col-md-4 col-md-offset-1" style="margin-top: 5.5%">
                    {{#each burgers}} {{#unless devoured}}
                    <div>
                        <ul style="display:inline">
                            <li>
                                <h6 style="margin-right:30px; ">{{name}}</h6>
                                <button data-value={{id}} data-devoured="false " class='burgerAvailable' style="border:lightcyan;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-style: inset;border-width: 1px; border-color: cyan;">
                                    <span style="border-radius:15px; border-width:1px; border-color:black;"> Devour Button!</span>
                                </button>
                            </li>
                        </ul>
                    </div> {{/unless}} {{/each}}
                </div>
                <div class="col-sm-4 col-md-offset-2 ">
                    <h2>Devoured Burgers:</h2>
                    {{#each burgers}} {{#if devoured}}
                    <div class='burgerEaten'>
                        <div>
                            {{name}} {{>burgers/burger-block}}
                        </div>
                    </div>
                    {{/if}} {{/each}}
                </div>
            </div>
        </div>


        <h2 style='text-align: center; margin:50px; border-radius: 25px; background-color:rgb(143, 173, 182)'>Add A Burger Option</h2>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form style="margin-bottom: 10%">
                    <label></label>
                    <input type="text" id="boogie" data-devoured="false" placeholder="Delish Burgery" style='text-align:center; align-content: center; margin: center; height:50px; width: 430px; font-size:14pt;'>
                    <label></label>
                    <button type="submit" class="addBurgerButton" style="align-content: center; font-weight: normal;
            font-size: 20px; text-align: center; border-radius: 25px; width: 100%; padding: 10px; background-color:rgb(143, 173, 182); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-style: inset;border-width: 1px; border-color: cyan;">
                        <span style: "border-radius:15px; border-width:.5px; border-color:black">Add The Burger Button!</span>
                    </button>
                </form>
            </div>
        </div>
    </loom-contianer>
</main>
{{!-- --}} {{!--
<script type="text/javascript "> function myfunction() {
        var devouredState = $("#boogie ").attr("data-devoured ");
        var newBurger = {
            name: $("#boogie ")
                .val()
                .trim(),
            devoured: devouredState
        }
    };</script> --}} {{!-- DO I ADD DATA-VALUE TO THE ABOVE FORM ACTION???? --}} {{!--
<h1>Burgers</h1>

<h2> Burgers that are Devoured!</h2>

<ul>
    {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
</ul>

<h2>Burgers that have not yet been Devoured!</h2>

<ul>
    {{#each burger}} {{#if devoured}} {{> burger/burger-block devoured=false}} {{/if}} {{/each}}
</ul>

<h2>Add a Burger for Whatever Reason</h2>
<form class="create-form ">

    <div class="form-group ">
        <label for="burger ">Burger Name: </label>
        <input type="text " id="burger " name="name ">
    </div>

    <div class="form-group ">
        <label for="devoured ">Devour?</label>
        <br>
        <input type="radio " name="devoured " value="1 "> Devoured!
        <br>
        <input type="radio " name="devoured " value="0 "> Not Devoured
    </div>

    <button type="submit ">Add Burger</button>
</form> --}}