/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
} */
.container-fluid {
  font-weight: bold;
  color: darkred;
  position: relative;
  margin: center;
  align-content: center;
  z-index: 1;
}

loom-container {
  position: relative;
  margin: center;
  width: 95%;
  height: 95%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/148/243/non_2x/cute-burger-and-fries-character-fast-food-vector.jpg");
  opacity: 0.2;
  filter: alpha(opacity=50);

  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  z-index: -1;
}
/* body {}width: 75%;
  margin: 0 auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;} */

/* body {background-color: lightsteelblue;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/148/243/non_2x/cute-burger-and-fries-character-fast-food-vector.jpg");*/

/* #schmuck {
  /* new stacking contexts (layering contexts) are created with opacities less than 1, so z-index is unecessary here */
/* opacity: 0.2;
  filter: alpha(opacity=50);
  background-size: 90% 90%;
  margin: auto;
} */

/* main {
  position: absolute;
  margin-top: 0;
  z-index: 1;
  margin-right: 5%;
} */
/* html {
  height: 100%;
  width: 100%;
  background-color: #ffc04c;
} */
/* z-index only works with positioned items, otherwise the layering occurs with opacity, or by the order in which elements are listed in HTML  */
/* or z-index: 1; position: absolute */

/* #cute_burger {
  display: block;
  margin: auto;
} */

h1 {
  text-align: center;

  font-size: 65px;
  margin: 50px;
}

.burgerAvailable {
  font-weight: normal;
  font-size: 20px;
  text-align: center;


  border-radius: 25px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #b7ffc2;
  border: none;
}

.burgerAvailable:hover {
  background-color: darkgray;
}

.burgerEaten {
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  background-color: #ffd1c9;
}

h2 {
  text-align: center;

  font-size: 30px;
  margin: 50px;
}

.addBurgerButton {
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  width: 100%;
  margin: 0;
  padding: 10px;

  border: none;
}

.addBurgerButton:active {
  background-color: darkgray;
}

/* .container {
  stop-opacity: initial;
  z-index: 1;
  color: black;
} */
